
@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);


html, body {
  height: 100%;
  font-family: 'Jeju Gothic', sans-serif;
}
body{
    margin: 0;
}

a {
text-decoration: none;
color: black;
}

.gird_container{
  display: grid;
  grid-template-rows: 75px auto;
  min-height: 100%;
  position:relative;
}

.nav *{
  color: white;
}

.nav > a{
    margin: auto;
}
.nav{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(113, 218, 113);
    height: 75px;
}


#main{
    margin: 200px auto;
    padding-bottom: 100px;
    width: 1130px;
}
#board_main{
  margin: 0 auto;
  padding-bottom: 150px;
  width: 1130px;

}
#qna_board_read{
  display: grid;
  margin: 100px auto;
  width: 1130px;
  grid-template-rows: 100px 20px 20px 50px auto 20px;
  grid-template-columns: 1fr 9fr;
  gap: 20px;
}

.qna_board_name{
  justify-self: center;
  font-size: 50px;
  grid-column: 1 / span 2;
}
.qna_board_writer{
  grid-column: 1 / span 2;
}

.qna_board_title{
  grid-column: 1 / span 2;
  font-size: 50px;
  font-weight: bold;
}

.qna_board_contents{
  grid-column: 1 / span 2;
  min-height: 500px;
  width: 1130px;
  justify-self: center;
  border: solid 1px rgb(113, 218, 113);
}
.qna_board_attach{
  position: relative;
  grid-column: 1 / span 2;
  justify-self: end;
}
#qna_board_attach_download{
  width: 300px;
  position: absolute;
  right: 0px;
  border: solid 1px rgb(113, 218, 113);
  display: none;
}

#qna_board_attach_download > ul{
  list-style-type: none;
  padding: 0 10px;
}
#qna_board_attach_download li{
  padding: 5px;
}


.navbar_menu{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    list-style-type: none;
    padding: 0;
}

.nav_login {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: right;
    justify-items: right;
    gap: 10px;
    margin-right: 10px;
}


  .content {
    display: grid;
    font-size: 30px;
    justify-content: center;
    align-items: center;
  }

  .search{
    display: grid;
    grid-template-columns: 400px 100px;
    justify-content: center;
  }


  #board{

    width: 1130px;
    margin: 0 auto;
    position: relative;
  }

  .board_change{
    display: grid;
    width: 1130px;
    padding: 50px 0;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 30px;
    margin: 0 auto;
    

  }

  input::placeholder{
    text-align: center;
  }


  .board_list{
    list-style: none;
    padding: 1rem 0 1rem 0;
    border : 1px solid rgb(113, 218, 113);
  }


.board_grid{
  display: grid;
  grid-template-rows: auto 50px auto;
  align-items: center;
}

.board_head{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: start;
  column-gap: 10px;
  font-size: 20px;
}
.board_title{
  font-size: 30px;
  font-weight: bold;
}

.board_tail{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  column-gap: 10px;
  font-size: 20px;
}

#board_commant_head{
  display: flex;
  margin: 0 auto;
  padding-bottom: 100px;
  width: 1130px;
  justify-content: space-between;
}
#board_commant_head div{
  display: inline;
}
.board_commant_write{
  border: 1px solid rgb(113, 218, 113);
  border-radius: 10px;
  padding: 20px 5px;
  font-size: 30px;
  margin-bottom: 20px;
} 
.board_commant_write > div:nth-of-type(1){
  padding-bottom: 10px;
}

.board_commant_write > div:nth-of-type(2){
  padding-top: 10px;
}
.board_commant_write > input[type="text"]{
  border-radius: 10px;
  border: 2px solid #ccc;
  background-color: #fff;
  width: 95%;
  height: 100px;
}
.board_commant_write_footer{
  display: flex;
  justify-content: space-between;
}
.board_commant_read{
  display: flex;
  flex-direction: column;
}
.board_commant_read_header{
  display: flex;
  flex-direction: row;
  font-size: 40px;
  justify-content: space-between;
  width: 1130px;
}
.board_commant_read_header .board_commant_ud{
  width: 50px;
  position: absolute;
  border: solid 1px rgb(113, 218, 113);
  font-size: 20px;
  display: none;
  height: 70px;
}

.board_commant_read_header .board_commant_ud> ul{
  list-style-type: none;
  padding: 0px;
  margin: 5px 0px;
}
.board_commant_read_header .board_commant_ud li{
  padding: 5px;
}
.board_commant_read_header_namegroup{
  display: flex;
}
.board_commant_read_header .fas.fa-bars {
  position: relative;
}
.board_commant_read_header .fas.fa-bars:hover {
  cursor: pointer;
}
.board_commant_read_header_namegroup div:nth-of-type(2){
 font-size: 20px;
}
.board_commant_read_header_namegroup > :first-child{
  padding-right: 10px;
}
.board_commant_read_main{
  padding: 30px 10px;
  font-size: 20px;
}
.board_commant_read_footer{
  display: flex;
  justify-content: space-between;
}
.board_commant_commant_write{
  display: none;
}