@charset "utf-8";

.main_container{
    margin: 20%;
}
.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 15%;

    font-size: 2rem;
    padding: 3rem;
    border-radius: 1rem;

    color: #dcdbdb;
}
.adr_start{
    display: flex;
    justify-content: center;
    align-items: center;
}
.adr {
    margin-right: 5px;

    width: 300px;
    height: 35px;

    caret-color: #c3c3c3;
    border-radius: 5px;

    color: #c3c3c3;
}
.adr:focus {
    outline: none;
}
.adr[type=text] {
    border: 0.5px solid #dcdbdb;
}
.adr::placeholder {
    opacity: 0.8;
    color: #dcdbdb;
    font-size: 0.8rem;
}
.start {
    font-size: 1.3rem;
    padding: 8px 12px;

    background-color: #EB9C5C;
    border-radius: 5px;
    color: white;
    border: none;
}
.start:hover {
    border: 1px solid #EB9C5C;
    border-radius: 5px;
    color: white;
}

